each post in posts
  .post-body(id = post.id)
    p.hidden #{post.Timestamp}
    if (post.pic1)
      .flip-container.post
        .flipper
          div.front(style={'background-image': 'url(https://habdata.blob.core.windows.net/habdatablob/#{post.pic1})'})
          div.back
            if (post.note1)
              span #{post.note1}
            else
              span <strong>...</strong>
    if (post.pic2)
      .flip-container.post
        .flipper
          div.front(style={'background-image': 'url(https://habdata.blob.core.windows.net/habdatablob/#{post.pic2})'})
          div.back
            if (post.note2)
              span #{post.note2}
            else
              span <strong>...</strong>


